.navbar {
  background-color: $green;
  font-weight: 800;
  font-size: 1.25em;
  & a {
    color: $white;
    @media screen and (max-width: $breakpoint_laptop) {
      color: $darkGreen;
    }
  }

  .navbar-item {
    img {
      max-height: 3.75rem;
    }
  }
}
